<header>
    <div class="header-top">
        <div class="grid">
            <div class="header-top-info">
                <div class="header-top-item">
                    <p class="header-top-hotline header-top-item--separate">Hotline mua hàng: <span>0964942121</span>
                        (8:30-21:30, Tất cả các ngày trong tuần)</p>
                    <a href="" class="header-top-contact">Liên hệ</a>
                </div>
                <div class="header-top-item">
                    <a href="" class="header-top-link">
                        <i class="fa-solid fa-bell"></i>
                        Thông báo của tôi
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="navbar">
            <div class="navbar__logo">
                <a href="/FE/customer/index.html"><img class="logo-img" src="/assets/img/logo.png" alt="logo"></a>
            </div>
            <ul class="menu">
                <li><a href="#">Sản phẩm mới</a></li>
                <li><a href="#">Danh mục sale</a></li>

                <li class="has-dropdown">
                    <a href="#">
                        Áo nam
                        <i class="dropdown-icon fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a href="#">Áo Khoác</a></li>
                        <li><a href="#">Áo - Quần Nỉ</a></li>
                        <li><a href="#">Áo Polo</a></li>
                        <li><a href="#">Áo Sơ Mi</a></li>
                        <li><a href="#">Áo Thun</a></li>
                        <li><a href="#">Áo Blazer</a></li>
                        <li><a href="#">Áo Len</a></li>
                    </ul>
                </li>

                <li class="has-dropdown">
                    <a href="#">
                        Quần nam
                        <i class="dropdown-icon fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a href="#">Quần Dài Kaki</a></li>
                        <li><a href="#">Quần Âu</a></li>
                        <li><a href="#">Quần Gió</a></li>
                        <li><a href="#">Quần Jeans</a></li>
                        <li><a href="#">Quần Short</a></li>
                    </ul>
                </li>

                <li class="has-dropdown">
                    <a href="#">
                        Phụ kiện
                        <i class="dropdown-icon fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a href="#">Thắt Lưng</a></li>
                    </ul>
                </li>

                <li><a href="#">Hệ thống cửa hàng</a></li>
            </ul>
            <ul class="icon-list">
                <li class="icon-list-item">
                    <i class="icon-list-icon fa-solid fa-magnifying-glass"></i>
                </li>
                <li class="icon-list-item">
                    <i class="icon-list-icon fa-regular fa-user"></i>
                </li>
                <li class="icon-list-item">
                    <i class="icon-list-icon fa-solid fa-cart-shopping"></i>
                </li>
            </ul>
        </div>
    </div>
</header>