:root {
    --shop-color-bg: #ffffff;
    --shop-color-main: #ff0000;
    --shop-color-text: #000000;
    --shop-color-title: #000000;
    --shop-color-hover: #ff0000;
    --shop-color-button: #d2d2d2;
    --shop-color-button-text: #d30000;
    --shop-color-border: #e7e7e7;
    --header-bg: #ffffff;
    --header-color-text: #333333;
    --topbar-bg: #242021;
    --topbar-color-text: #ffffff;
    --home-coupon-bg: #ffffff;
    --home-coupon-light: #ffffff;
    --home-coupon-border: #f8d0d3;
    --home-coupon-text: #333333;
    --footer-bg-color-1: #000000;
    --footer-bg-color-2: #f5f5f5;
    --footer-bg-color-copyright: #f5f5f5;
    --footer-color-title: #d60000;
    --footer-color-text: #000000;
    --footer-color-hover: #d60000;
    --home-flashsale-bg: #fff5f1;
    --home-flashsale-color-title: #000000;
    --home-flashsale-color-light: #d60000;
    --home-flashsale-countdown-bg: #fb1717;
    --home-flashsale-countdown-color-txt: #000000;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;  
}

/* Responsive */
.grid {
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}